<h2>
  forms works!
</h2>



<div class="card inputs">
  <input type="text" pInputText placeholder="Name"/>
  <input type="email" pInputText placeholder="Email"/>
  <input type="password" pInputText placeholder="Password"/>
  <input type="text" pInputText placeholder="Disabled" disabled=true />
  <input type="text" pInputText />
</div>



<div class="card textarea">
  <p> Default </p>
  <textarea pInputTextarea></textarea>

  <p> AutoResize </p>
  <textarea pInputTextarea autoResize="autoResize"></textarea>

  <p> Disabled </p>
  <textarea pInputTextarea disabled="true"></textarea>
</div>


<div class="card auto-complete">


</div>