<h2>
  forms works!
</h2>



<div class="card inputs">
  <input type="text" pInputText placeholder="Name"/>
  <input type="email" pInputText placeholder="Email"/>
  <input type="password" pInputText placeholder="Password"/>
  <input type="text" pInputText placeholder="Disabled" disabled=true />
  <input type="text" pInputText />
</div>



<div class="card textarea">
  <p> Default </p>
  <textarea pInputTextarea></textarea>

  <p> AutoResize </p>
  <textarea pInputTextarea autoResize="autoResize"></textarea>

  <p> Disabled </p>
  <textarea pInputTextarea disabled="true"></textarea>
</div>


<div class="card auto-complete">
  <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)" placeholder="Name"></p-autoComplete>
  <p-autoComplete [(ngModel)]="text" [suggestions]="results" (completeMethod)="search($event)"
                  [dropdown]="true" (onDropdownClick)="handleDropdown($event)" placeholder="Name"></p-autoComplete>

  <p-autoComplete [(ngModel)]="multipleText" [suggestions]="multipleResults" (completeMethod)="searchMultiple($event)"
                  [minLength]="1" placeholder="Name" [multiple]="true">
  </p-autoComplete>

</div>